<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if hasmath}} {{insert head_katex.html }}     {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}
    {{insert style.html}}
    {{if weave}}
        <link rel="stylesheet" href="/css/weave.css">
        <script>
          MathJax = {
            tex: {
              inlineMath: [['$','$'], ['\\(','\\)']],
              displayMath: [['$$','$$'], ['\\[','\\]']],
              processEscapes: true,
              tags: 'ams'
            }
          };
        </script>
        <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{end}}
    {{isdef title}} <title>{{fill title}} - MIT Parallel Computing and Scientific Machine Learning (SciML)</title>  {{end}}
</head>

<body>
{{insert nav.html}}


<!-- Content appended here -->
